<p class="current_user_show"><%= current_user.name %>さんの投稿を編集する</p>

<div class="content">

  <div class="col s12">
    <div class="card">


      <%= form_for @blog, :url => {:action => 'update'} do|f| %>

        <div class="card-content">
            <%= f.text_area :text ,value: @blog.text %>
        </div>

        <div class="card-action">
          <%= f.submit "編集完了！" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
